body {
  margin: 0;
  font-family: sofia-pro, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace, sofia-pro,sans-serif;
}
.centerAligned{
  text-align: center !important;
  float: left;
  padding: 2px;
}
.leftAligned{
  float: left;
  padding: 2px;
}
.rightAligned{
  float: right;
  padding: 2px;
}