.questionRowContainer{
    font-family: sofia-pro, sans-serif;
    width: 100%;
    height: auto;
    border-radius: 10px;
    border: #E6E6E6 1px solid;
    background-color: white;
    padding: 10px;
}
.question{
    font-weight: bold;
    font-size: 12px;
    color: #0074cc;
    padding: 0px;
    text-decoration: none !important;
}
.badgeRow{
    justify-content: center;
    padding: 10px 5px;
}
.badge{
    float: left;
    padding: 3px 5px;
    background-color: #e1ecf4 !important;
    font-weight: 200;
    margin:1px 1px;
    text-shadow: black;
    color: #39739d;
}
.icon{
    height: auto;
    width: 100%;
    margin: 3px;
}
.viewCount, .voteCount, .answerCount{
    text-align: center;
    color: #4D4D4D;
    font-weight: 500;
    width: 100%;
    height: auto;
    margin-left: 0px;
}
.viewInQuestion, .voteInQuestion, .answerInQuestion{
    border: #E6E6E6 1px solid;
    padding: 5px 4px;
    margin-top: 5%;
    background-color: #e1ecf4;
    border: none;
    height: 33px;
    border-radius: 5px;
    width: 100%;

}

.viewInsQuestion, .voteInsQuestion, .answerInsQuestion{
    border: #E6E6E6 1px solid;
    height: 32px;
    text-decoration: none !important;
    background-color: #e1ecf4;
    border: none;
    border-radius: 5px;
    width: 100%;
    padding: 5px 0px 0px 4px;
} 
.authorText{
    color: #4D4D4D;
    font-size: 14px;
    float: right;
}